<div class="d-flex justify-content-between py-4 my-4 border-top">
    <p>&copy; 2022 Let.IT.be &nbsp;&nbsp; All rights reserved.<img src="../assets/IMG/CompanyName.jpg" alt="CompanyName" routerLink="/"
      style="opacity: 1; width:164px; height:40px; z-index: 1;"></p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
</div>