<div class="container mt-5">
  <div class="container">
    <img src="../assets/IMG/Rovinj3.JPG" alt="Rovinj" style="opacity:1; width:300px; height:400px;">
  </div>
  <div class="container justify-content-center">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quos qui nulla similique eum voluptatibus aliquam
      quas et, ab nobis quis saepe ut, minima, fugiat adipisci sit. Ex sapiente rem ab quam, dolorum dolores. Nostrum
      architecto ipsam a voluptate! Ipsa, voluptatibus deleniti dolores atque similique velit maiores fugiat veritatis
      reiciendis cumque asperiores maxime numquam suscipit corporis quo, hic incidunt delectus cum nostrum. Voluptatibus
      nostrum ducimus ipsam distinctio voluptates praesentium, est placeat molestias, sint tenetur ullam voluptatum
      asperiores eos, modi quia aspernatur quis eius aliquid magni obcaecati recusandae. Veritatis praesentium aut
      corporis. Odit, tenetur! Vel facere pariatur error nam ipsa voluptatibus placeat commodi, beatae sapiente in
      maiores optio dolorum harum nisi ea alias deleniti quaerat distinctio debitis iste reprehenderit. Blanditiis optio
      vel vero adipisci dignissimos perferendis ut placeat. Tempore nostrum eius eaque, est delectus iusto eligendi
      accusantium corporis expedita tempora unde culpa quaerat aliquam similique quibusdam fugiat hic aspernatur
      suscipit natus laudantium obcaecati facere dignissimos! Et explicabo quidem nam illum. Officiis repellat sapiente
      dolorem, nam doloremque consequatur, culpa autem in numquam laboriosam expedita enim. Eligendi sint voluptates
      iusto voluptate labore magnam, aspernatur reprehenderit incidunt maxime ipsam modi laborum veniam odit ab corporis
      consequatur rem alias commodi! Modi aliquid, nulla culpa quae explicabo illum, quisquam repellendus expedita
      assumenda eaque ex provident minus consequuntur voluptatibus dolorum hic cum ducimus earum voluptates sint esse?
      Esse reiciendis ipsum rem doloremque nisi nihil amet at? Harum delectus corporis aliquam, et minima placeat
      obcaecati asperiores, a fugit velit, corrupti porro quidem autem eaque earum amet maiores? Minima suscipit
      similique officia. Vel odio asperiores dolor hic neque magnam, veniam nostrum nesciunt eius suscipit voluptas
      distinctio placeat eos laudantium nam. Magnam recusandae voluptatem repellendus velit obcaecati veritatis nam ea
      esse corporis ut sequi, beatae molestiae voluptate non rerum distinctio ratione perspiciatis amet est saepe
      accusamus vitae a eum? Dolorum saepe impedit accusamus! Sit, reiciendis! Cupiditate officiis ullam minus
      praesentium possimus blanditiis exercitationem animi quia quod, harum aperiam impedit assumenda nemo id quis,
      iusto, modi dolorem veniam quo molestiae nulla laudantium. Maiores nam in molestias unde nisi. Quidem temporibus
      accusamus reiciendis, aliquid velit similique, facilis eum unde voluptatibus est minima adipisci excepturi
      incidunt saepe perspiciatis accusantium, expedita corporis at laborum aut illum veritatis eaque odit? Facilis
      cupiditate quidem maiores tempore doloremque doloribus totam. Obcaecati suscipit assumenda labore, tempora
      expedita excepturi dolores ratione consequuntur facere quae pariatur vero corrupti perferendis hic delectus magnam
      provident a voluptate voluptatem commodi itaque animi blanditiis?
    </p>

  </div>
</div>