<div class="container" style="margin-top: 50px;">
    <div class="py-5 bg-light team1">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-md-7 text-center">
            <h3 class="mb-3">Ozbiljan tim za optimisticne potrebe</h3>
            <h6 class="subtitle font-weight-normal">You can relay on our amazing team list and also our customer
              services will be great experience for you without doubt and in no-time</h6>
          </div>
        </div>
        <div class="row">
          <!-- column  -->
          <div class="col-lg-6">
            <div class="card card-shadow border-0 mb-4">
              <!-- Row -->
              <div class="row no-gutters">
                <div class="card col-md-5">
  
                  <img class="card-img-top" src="../assets/IMG/team/vlaja.jpg" alt="Slika Vlaje">
  
  
                  <div class="card-img-overlay">
                    <img src="https://image.similarpng.com/very-thumbnail/2020/05/Icon-Facebook-In-circle-PNG.png"
                      alt="Fejsbuk logo" class="w-50">
                    <p class="card-text">Some example text.</p>
  
                    <!-- Dodavanje ikonica za linkove socijalne mreze -->
                    <!-- <ul class="list-inline position-relative text-center">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">AAAAA<i
                            src="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
                <div class="col-md-7 bg-white">
                  <div class="p-4">
                    <h6 class="mb-3 font-weight-medium">Vladimir</h6>
                    <p>Ja sam Vlaja.</p>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <!-- column  -->
          <div class="col-lg-6">
            <div class="card card-shadow border-0 mb-4">
              <!-- Row -->
              <div class="row no-gutters card-shadow">
                <div class="col-md-5">
                  <img src="../assets/IMG/team/zlatko.jpg" alt="Slika Zlatka" class="card-img-top">
  
  
                  <div class="card-img-overlay">
                    <h4><a href="#" class="text-decoration-none d-block px-1" style="color: black;">AAAAA<i
                          src="icon-social-facebook"></i></a></h4>
                  </div>
                </div>
                <div class="col-md-7 bg-white">
                  <div class="p-4">
                    <h6 class="mb-3 font-weight-medium">Zlatko</h6>
                    <p>Ja sam Zlatko.</p>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <!-- column  -->
        </div>
        <div class="row">
          <!-- column  -->
          <div class="col-lg-6">
            <div class="card card-shadow border-0 mb-4">
              <!-- Row -->
              <div class="row no-gutters card-shadow">
                <div class="col-md-5 pro-pic"
                  style="background-image:url(../../assets/IMG/team/vlaja.jpg) center center no-repeat / cover">
                  <div class="card-img-overlay">
                    <ul class="list-inline position-relative text-center">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-7 bg-white">
                  <div class="p-4">
                    <h6 class="mb-3 font-weight-medium">Katarina</h6>
                    <p>Ja sam Kaca.</p>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <!-- column  -->
          <div class="col-lg-6">
            <div class="card card-shadow border-0 mb-4">
              <!-- Row -->
              <div class="row no-gutters card-shadow">
                <div class="col-md-5 pro-pic" style="background: center no-repeat / cover">
                  <div class="card-img-overlay">
                    <ul class="list-inline position-relative text-center">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-7 bg-white">
                  <div class="p-4">
                    <h6 class="mb-3 font-weight-medium">Marko</h6>
                    <p>Ja sam Marko.</p>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <!-- column  -->
        </div>
        <!-- Row -->
        <div class="row">
          <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Misija</h3>
              <h6 class="subtitle font-weight-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
                nihil molestias maiores, accusamus quas, deleniti libero nesciunt, aliquam ducimus consequatur magni
                obcaecati! Praesentium, doloremque doloribus! Inventore, alias cum a quia, quae ipsa officia quis ullam
                totam, minus quas molestias libero laudantium voluptatum praesentium laborum possimus eos soluta maiores
                incidunt dolor!</h6>
            </div>
          </div>
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
          <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Vizija</h3>
              <h6 class="subtitle font-weight-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
                necessitatibus, deleniti fugiat minus perferendis labore ea, adipisci in impedit maiores nostrum aperiam.
                Id quis vitae sit suscipit alias, at neque labore culpa asperiores accusamus. Alias nesciunt doloribus
                reprehenderit nobis harum voluptates voluptatem voluptatum vitae nam natus, ab magnam quas doloremque.
              </h6>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
    <div class="row">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 text-center">
          <h3 class="mb-3">Misija 2</h3>
          <h6 class="subtitle font-weight-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            necessitatibus, deleniti fugiat minus perferendis labore ea, adipisci in impedit maiores nostrum aperiam.
            Id quis vitae sit suscipit alias, at neque labore culpa asperiores accusamus. Alias nesciunt doloribus
            reprehenderit nobis harum voluptates voluptatem voluptatum vitae nam natus, ab magnam quas doloremque.
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 text-center">
          <h3 class="mb-3">Vizija 2</h3>
          <h6 class="subtitle font-weight-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            necessitatibus, deleniti fugiat minus perferendis labore ea, adipisci in impedit maiores nostrum aperiam.
            Id quis vitae sit suscipit alias, at neque labore culpa asperiores accusamus. Alias nesciunt doloribus
            reprehenderit nobis harum voluptates voluptatem voluptatum vitae nam natus, ab magnam quas doloremque.
          </h6>
        </div>
      </div>
    </div>
  </div>